<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.demo.core.system.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.wj.demo.core.system.entity.SysMenu">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="DELETED" jdbcType="INTEGER" property="deleted"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="ICON" jdbcType="VARCHAR" property="icon"/>
        <result column="PATH" jdbcType="VARCHAR" property="path"/>
        <result column="COMPONENT" jdbcType="VARCHAR" property="component"/>
        <result column="HIDDEN" jdbcType="BIT" property="hidden"/>
        <result column="SORT_NO" jdbcType="INTEGER" property="sortNo"/>
        <result column="PARENT_ID" jdbcType="INTEGER" property="parentId"/>
        <result column="SUB_SYS_ID" jdbcType="INTEGER" property="subSysId"/>
    </resultMap>

    <sql id="BaseColumns">
        ID, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, REMARK, DELETED, TITLE, ICON, PATH, COMPONENT, HIDDEN, SORT_NO, PARENT_ID, SUB_SYS_ID
    </sql>

    <select id="selectList" resultType="com.wj.demo.core.system.entity.SysMenu">
        SELECT
        <include refid="BaseColumns"/>
        FROM SYS_MENU
        <where>
            DELETED = 0
            <if test="subSysId != null">
                AND SUB_SYS_ID = #{subSysId}
            </if>
            <if test="title != null and title !=''">
                AND TITLE LIKE CONCAT('%',CONCAT(#{title},'%'))
            </if>
            <if test="component != null and component !=''">
                AND COMPONENT LIKE CONCAT('%',CONCAT(#{component},'%'))
            </if>
            <if test="path != null and path !=''">
                AND PATH LIKE CONCAT('%',CONCAT(#{path},'%'))
            </if>
            <if test="hidden != null and hidden">
                AND HIDDEN = #{hidden}
            </if>
            <if test="parentId != null">
                AND PARENT_ID = #{parentId}
            </if>
        </where>
    </select>

    <select id="listAll" resultType="com.wj.demo.core.system.model.vo.SysMenuVO">
        SELECT
        ID, TITLE, ICON, PATH, COMPONENT, HIDDEN, SORT_NO, PARENT_ID, SUB_SYS_ID
        FROM SYS_MENU
        <where>
            DELETED = 0
            <if test="subSysId != null">
                AND SUB_SYS_ID = #{subSysId}
            </if>
            <if test="userId != null">

            </if>
        </where>
    </select>

</mapper>