<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.demo.core.system.mapper.SysScheduleJobMapper">

    <resultMap id="BaseResultMap" type="com.wj.demo.core.system.entity.SysScheduleJob">
        <id column="ID" jdbcType="OTHER" property="id"/>
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="DELETED" jdbcType="INTEGER" property="deleted"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="JOB_CLASS" jdbcType="VARCHAR" property="jobClass"/>
        <result column="METHOD" jdbcType="VARCHAR" property="method"/>
        <result column="PARAMS" jdbcType="VARCHAR" property="params"/>
        <result column="TRIGGER_TIME" jdbcType="TIMESTAMP" property="triggerTime"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    </resultMap>

</mapper>